body {
	font-family: 'Open Sans', sans-serif;
}
* {
/*	outline: 1px solid red;*/
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}

nav .nav, nav .nav-logo {
	margin: 0.5rem;
	display: inline;
}

#intro {
	padding: 2rem 10% 3rem;
	text-align: center;
}

.header {
	text-align: center;
}

#intro h2,  #intro p {
	margin-bottom: 1rem;
}

#intro button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	font-size: 1rem;
	border-radius: 25px;
	padding: 1rem;
}

#succeed-info {
	text-align: justify;
	padding: 2rem 14% 3rem;
	margin-bottom: 1.5rem;
}

#succeed-info h2 {	
	margin-bottom: 1rem;
}

#succeed-info h3 {
	text-align: center;
	margin-bottom: 0.8rem;
}

#succeed-info .card {
	display: inline-block;
	vertical-align: top;
	border: 1px solid black;
	min-height: 175px;
	padding: 0.4rem;
	width: 33.1%;
	marging-left: 0.5rem;
	marging-right: 0.7rem;

}

footer {
	padding: 0.7rem;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

#pre-footer {
	background-color: #002540;
	color: white;
	padding: 0.7rem;	
}
#pre-footer .s07 {
	vertical-align: top;
	display: inline-grid;
	min-height: 140px;
	margin-left: 0.5rem;
	width: 16%;
/*	margin-right: 12rem;*/
	margin-top: 0.7rem;
	margin-bottom: 0.3rem;

}
#pre-footer .followus {
	display: inline-grid;
	vertical-align: bottom;
	min-height: 85px;
	margin-left: 0.5rem;
	width: 16%;
/*	margin-right: 12rem;*/
	margin-bottom: 0.4rem;
	
}
 
